<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.examen.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.examen.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.examen.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.examen.ApplicationActivity"
            android:label="@string/title_activity_application" >
        </activity>
        <activity
            android:parentActivityName="com.example.examen.ApplicationActivity"
            android:name="com.example.examen810_db.TaskActivity"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:parentActivityName="com.example.examen810_db.TaskActivityy"
            android:name="com.example.examen810_db.TasksActivity"
            android:label="@string/title_activity_tasks" >
        </activity>
        <activity
            android:name="com.example.aci810_db.db.MyAppContract"
            android:label="@string/title_activity_my_app_contract" >
        </activity>
        <activity
            android:name="com.example.aci810_db.db.MyAppDbHelper"
            android:label="@string/title_activity_my_app_db_helper" >
        </activity>
        <activity
            android:name="com.example.aci810_db.db.MyAppDataSource"
            android:label="@string/title_activity_my_app_data_source" >
        </activity>
        <activity
            android:name="com.example.aci810_db.model.Task"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:name="com.example.aci810_db.listeners.ListViewItemClickListener"
            android:label="@string/title_activity_list_view_item_click_listener" >
        </activity>
        <activity
            android:parentActivityName="com.example.examen.ApplicationActivity"
            android:name="com.example.examen810_db.NoteActivity"
            android:label="@string/title_activity_note" >
        </activity>
        <activity
            android:parentActivityName="com.example.examen810_db.NoteActivity"
            android:name="com.example.examen810_db.NotesActivity"
            android:label="@string/title_activity_notes" >
        </activity>
        <activity
            android:name="com.example.aci810_db.model.Note"
            android:label="@string/title_activity_note" >
        </activity>
    </application>

</manifest>
